/* Default variables */
:root {
    --blue-color: blue;
    --green-color: green;
  }
  
  [data-theme^="light"],
  [data-theme] [data-theme^="light"] {
    --main-color: #000;
    --background-color: #fff;
    --box-color: lightgrey;
  }
  
  [data-theme^="dark"],
  [data-theme] [data-theme^="dark"],
  [data-theme="light-dark-sidebar"] nav {
    --blue-color: #1da1f2;
    --main-color: #fff;
    --background-color: #232323;
    --sidebar-color: #333;
    --box-color: grey;
  }

  body {
    color: var(--main-color);
    background-color: var(--background-color);
    font-family: sans-serif;
  }